*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    background-color: rgb(81, 218, 236);
    font-family: 'Times New Roman', Times, serif;
}
:root{
    --text50px: 50px;
    --color: pink;
    --background: white;
}
header{
    background-color: rgb(81, 218, 236);
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
header h1{
    font-size: var(--text50px);
    color: var(--color)
    display: inline;
}
header nav{
    float: right;
}
header nav ul li {
    display: inline-block;
    padding: 10px;
    margin: 120px 100px 100px 0;
    border-bottom: black 5px solid;
}
header nav ul li a {
    text-decoration: none;
    font-size: 30px;
    color: var(--color)
}
header a:hover {
    color: teal;
    background-color:black;
    padding: 5px;
}
.contents {
    display: flex;
    justify-content: center;
    text-align: center;
    position:relative;
    margin: 0 50px 0 0 ;
}
.contents nav h2 {
    color: var(--color);
    font-size: var(--text50px);
    border-bottom: black 5px solid;
    padding: 100px 0 120px 0;
    margin: 25px 0 25px 100px;
}

.contents p {
    margin-left: 100px;
    text-align: center;
    font-size: 1.8vw;
    color: black;
}
.work a{
    background-color: var(--color);
}
.work {
    margin: 50px 0 0 450px;
    position: absolute;
}
#img-a img {
    width: 600px;
    height: auto;
}
#img-1 {
    position: relative;
}
#img-1 img {
    width: 300px;
    height: 100px;
}
#img-2 img{
    width: 300px;
    height: 100px;
}
#img-3 {
    position:relative;
}
#img-3 img {
    width: 300px;
    height: 100px;
}
#img-4 img {
    width: 300px;
    height: 100px;
}
.work img{
    filter: brightness(50%);
}
.work img:hover{
    filter: brightness(100%);
}
#img-av {
    position: relative;
}

#img-av img {
    width: 100px;
    height: auto;
}
#contact-me{
    padding-top:950px;;
}
.contact-me-2 {
    font-size: 40px;
}
.img-a-2{
    position: relative;
    text-align: center;
    color: black;
    font-size: 20px;
}
